*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(0, 0%, 8%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.container{
   
    margin-inline: auto;
    max-width: 400px;
    border: 1px solid black ;
    background-color: hsl(0, 0%, 12%);
    padding: 1rem;
    border-radius: 1rem;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

ul li{
    list-style: none;
    margin-bottom: 50px;
    align-items: center;
}


